.vs
bin
obj
*.user
*.pfx
/Bifrost.Devices.Bridge/Bifrost.Devices.Bridge/*.user
/Bifrost.Devices.Bridge/Bifrost.Devices.Bridge/Bifrost.Devices.Bridge_TemporaryKey.pfx
.vscode
BundleArtifacts
AppPackages
